/* ---------- Remains only media quories and adding css functions ---------- */

:root {
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 7%);
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  column-gap: 32px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.sidebar {
  padding: 35px 25px;
  border: 1px solid hsl(0, 0%, 22%);
  border-radius: 20px;
  max-height: 90vh;
  overflow: hidden;
  position: sticky;
  top: 40px;
  z-index: 1;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  background-color: hsl(240, 2%, 12%);
}

.sidebar.active {
  max-height: 405px;
}

.sidebar-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.avatar-box {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
}

.avatar-box img {
  width: 160px;
}

.info-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.info-title .name {
  color: hsl(0, 0%, 98%);
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.6px;
  margin-bottom: 10px;
}

.info-title .info-name-title {
  color: hsl(0, 0%, 100%);
  background: hsl(240, 1%, 17%);
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
  border-radius: 8px;
  width: max-content;
}

.separator {
  width: 100%;
  height: 1.5px;
  background-color: hsl(0, 0%, 22%);
  margin: 18px 0;
}

.contact-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-icon {
  position: relative;
  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);

  color: hsl(45, 100%, 72%);
  padding: 14px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  z-index: 1;
}

.contact-info {
  max-width: calc(100%-46px);
  width: calc(100%-46px);
  flex: 1;
  min-width: 0;
}

.contact-info a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contact-info-title {
  font-size: 14px;
  font-weight: 600;
  color: hsla(0, 0%, 84%, 0.7);
}

.contact-info a,
time,
address {
  font-size: 12px;
  font-weight: 100;
  color: hsl(0, 0%, 84%);
}

.social-icons {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 12px;
  background: hsl(240, 1%, 17%);
  padding: 6px 8px;
  margin-top: 20px;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
}

.social-item {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 4px;
}

.social-link img {
  width: 38px;
}

/* ----------- main ----------- */

.main-container {
  padding: 0 12px;
  border-radius: 20px;
  border: 1px solid hsl(0, 0%, 22%);
  background: hsl(240, 2%, 12%);
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
}

a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}

/* ------------ Navbar Section------------ */

.navbar {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  background: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  border: 1px solid hsl(0, 0%, 22%);
  padding: 0 16px;
  border-radius: 15px;
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  z-index: 5;
}

.navbar .navbar-highlight {
  font-size: 32px;
  font-weight: 900;
  color: hsl(45, 100%, 72%);
}

.navbar-items {
  font-size: 14px;
  font-weight: 400;
  display: flex;
  gap: 12px;
  cursor: pointer;
  transition: width 0.3s ease;
}

.navbar-items .item {
  color: hsl(0, 0%, 100%);
  position: relative;
  transition: width 0.3s ease;
}

.navbar-items .item:hover {
  color: hsl(45, 54%, 58%);
}

.navbar-items .item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 3px;
  background: hsl(45, 54%, 58%);
  border-radius: 4px;
  transition: width 0.3s ease;
}

.navbar-items .item:hover::after {
  width: 100%;
}

.header,
.main {
  padding: 0 20px;
  margin-bottom: 50px;
}

.hero-section {
  height: calc(96vh - 100px);
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-section h1 {
  color: hsl(0, 0%, 98%);
  font-size: 44px;
  font-weight: 800;
  line-height: 1.2;
  letter-spacing: -0.25px;
  margin-bottom: 12px;
}

.hero-section .highlight {
  font-size: 72px;
  font-weight: 800;
  color: hsl(45, 100%, 72%);
}
.hero-section h2 {
  font-size: 30px;
  font-weight: 400;
  color: hsla(0, 0%, 84%, 0.7);
  margin-bottom: 40px;
}

.hero-section p {
  color: hsl(0, 0%, 100%);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 40px;
}

.btn-sections {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.hero-section .btn-sections .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 400;
  font-size: 18px;
  background: hsl(45, 54%, 58%);
  transition: all 0.3s ease;
}

.hero-section .btn-sections .btn {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.hero-section .btn-sections .btn:hover {
  color: hsl(0, 0%, 98%);
  background: hsl(45, 100%, 72%);
  transform: translateY(-2px);
  box-shadow: 4px 6px 10px 10px hsl(0, 0%, 19%) 97%;
}

.btn-sections img {
  width: 20px;
}

/* ----------- about section ------------ */
#about {
  margin-bottom: 120px;
  padding: 12px 0;
}

.title {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.6;
  color: hsl(45, 54%, 58%);
}

.title-border {
  background: linear-gradient(to right, #f2c01c, #c9a227);
  border: none;
  border-radius: 10px;
  height: 6px;
  width: 90px;
  margin-bottom: 40px;
}

#about .about-text p {
  color: hsl(0, 0%, 100%);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 16px;
}

/* ----------- Skills Section ----------- */

#skills {
  padding: 12px 0;
  margin-bottom: 120px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.skills-container .card {
  padding: 18px 18px;
  border-radius: 12px;
  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  border: 1px solid hsla(45, 100%, 72%, 0.4);
  box-shadow: 4px 8px 24px hsla(0, 0%, 0%, 0.25);
  transition: 0.35s all ease;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.35);
}
.skill-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.skill-header i {
  color: hsl(45, 100%, 72%);
  font-size: 18px;
}

.skill-header h3 {
  font-size: 16px;
  color: hsl(45, 100%, 72%);
  font-weight: 400;
  font-size: 16px;
}

.skill-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.skill-list li {
  color: hsl(0, 0%, 82%);
  font-size: 14px;
  font-weight: 400;
  position: relative;
  padding-left: 12px;
  line-height: 1.7;
}

.skill-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  line-height: 1.7;
  color: hsl(45, 100%, 72%);
  font-size: 14px;
  font-weight: 700;
}

.skill-defination {
  margin-top: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  border-radius: 8px;
  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  border: 1px solid hsla(45, 100%, 72%, 0.4);
  box-shadow: 4px 8px 24px hsla(0, 0%, 0%, 0.25);
  transition: 0.35s all ease;
}

.skill-defination:hover {
  cursor: pointer;
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.35);
}

.defination-details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  line-height: 1.6;
}

.defination-details li {
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 82%);
  letter-spacing: 0.6px;
}

.defination-details-highlight {
  font-size: 14px;
  font-weight: 400;
  color: hsl(45, 100%, 72%);
}

/* ------------ Projects Section------------- */
#projects {
  margin-bottom: 120px;
}

.project-container {
  min-height: fit-content;
  border: none;
  border-radius: 15px;
  background: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
}

.card-wrapper {
  overflow: hidden;
  border-radius: 15px;
  display: block;
  box-shadow: 0 8px 32px rgb(11, 12, 2);
  max-width: 600px;
  width: 100%;
  margin: 80px auto;
  border: 1px solid transparent;
  transition: 0.35s all ease;
}

.card-wrapper:hover {
  border-color: hsla(45, 100%, 72%, 0.4);
  box-shadow:
    0 20px 40px hsla(0, 0%, 0%, 0.4),
    0 0 20px hsla(45, 100%, 72%, 0.08);
}

.card-list.swiper-wrapper {
  align-items: stretch;
}

.card-item {
  padding: 20px;
  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(20px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-item:active {
  cursor: grabbing;
}

.project-description {
  flex: 0 0 auto;
  min-height: 140px;
}

.card-item .project-header {
  font-size: 24px;
  color: hsl(0, 0%, 98%);
  font-weight: 600;
  margin-bottom: 10px;
}

.card-item .project-info {
  color: hsla(0, 0%, 84%, 0.7);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 25px;
  text-align: justify;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-item ul {
  list-style: none;
  padding-left: 28px;
  margin-bottom: 25px;
}

.project-features {
  flex: 1 0 auto;
  min-height: 190px;
}

.project-features li {
  position: relative;
  padding-left: 22px;
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 82%);
  line-height: 1.7;
  display: flex;
  align-items: center;
}

.project-features li::before {
  content: "↪";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(45, 100%, 72%);
  font-size: 14px;
  font-weight: 700;
}

.project-technologies {
  padding: 12px 20px;
  margin-bottom: 30px;
  border-radius: 6px;
  display: flex;
  gap: 12px;
  flex-flow: row wrap;
  border: 1px solid hsl(0, 0%, 22%);
  background: hsl(240, 1%, 17%);
  box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  margin-top: auto;
}

.project-technologies span {
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 82%);
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 0;
}

.project-links .project-btn {
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  background: hsl(45, 54%, 58%);
  padding: 8px 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 25px;
  transition: all 0.3s ease;
}

.project-links .project-btn:hover {
  color: hsl(0, 0%, 98%);
  background: hsl(45, 100%, 72%);
  transform: translateY(-2px);
  box-shadow:
    4px 6px 10px 10px hsl(0, 0%, 19%),
    97%;
}

.card-wrapper .swiper-slide-button {
  width: 32px;
  height: 32px;
  color: hsl(45, 100%, 72%);
  margin-top: -35px;
  box-shadow:
    4px 6px 10px 10px hsl(0, 0%, 19%),
    97%;
}

.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: hsl(45, 100%, 72%);
}

.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

/* ------------education --------- */

#education {
  margin-bottom: 120px;
}

.education-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.education-card {
  padding: 32px 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid hsla(45, 100%, 72%, 0.4);
  border-radius: 12px;

  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  box-shadow: 4px 8px 24px hsla(0, 0%, 0%, 0.25);
  transition: 0.35s all ease;
}

.education-card:hover {
  cursor: pointer;
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.35);
}

.education-card h3 {
  color: hsl(45, 100%, 72%);
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
}

.degree {
  color: hsla(0, 0%, 84%, 0.7);
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 25px;
}

.education-info {
  color: hsl(0, 0%, 88%);
  font-size: 12px;
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  line-height: 1.5;
}

.education-info strong {
  font-weight: 200;
  color: hsl(45, 100%, 72%);
}

/* ---------- Experience section --------- */
#experince {
  margin-bottom: 120px;
  padding: 12px 0;
}

.experince-card {
  padding: 35px 25px;
  border: 1px solid hsla(45, 100%, 72%, 0.4);
  border-radius: 15px;
  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  box-shadow: 4px 8px 24px hsla(0, 0%, 0%, 0.25);
  transition: 0.35s all ease;
}

.experince-card:hover {
  cursor: pointer;
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.35);
}

.experince-card h3 {
  color: hsl(45, 100%, 72%);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 6px;
}

.company {
  color: hsla(0, 0%, 84%, 0.7);
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 15px;
}

.experince-card ul {
  color: hsl(0, 0%, 82%);
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.25px;
  list-style: none;
  padding-left: 35px;
  line-height: 1.9;
}

.experince-card ul li {
  position: relative;
  padding-left: 22px;
  display: flex;
  align-items: center;
}

.experince-card ul li::before {
  margin-bottom: 10px;
  content: "↪";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(45, 100%, 72%);
  font-size: 14px;
  font-weight: 700;
}

/* -----------leadership experince ------------ */

#leadership-experince {
  margin-bottom: 120px;
  padding: 12px 0;
}

.leadership-experince-card {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.leadership-experince-box {
  padding: 35px 25px;
  border: 1px solid hsla(45, 100%, 72%, 0.4);
  border-radius: 15px;
  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);

  box-shadow: 4px 8px 24px hsla(0, 0%, 0%, 0.25);
  transition: 0.35s all ease;
}

.leadership-experince-box:hover {
  cursor: pointer;
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.35);
}

.leadership-experince-box h3 {
  font-size: 20px;
  font-weight: 400;
  color: hsl(45, 100%, 72%);
  margin-bottom: 15px;
}

.leadership-experince-box ul {
  list-style: none;
  padding-left: 18px;
  line-height: 1.9;
}

.leadership-experince-box ul li {
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 82%);
  position: relative;
  padding-left: 22px;
  display: flex;
  align-items: flex-start;
}

.leadership-experince-box ul li::before {
  content: "↪";
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.9;
  color: hsl(45, 100%, 72%);
  font-size: 14px;
  font-weight: 700;
}

/* ----------Certifications ------------ */
#certifications {
  margin-bottom: 120px;
}

.certification-container {
  padding: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 25px;
}

.certification-card {
  cursor: pointer;
  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  padding: 12px;
  border: 1px solid hsla(45, 100%, 72%, 0.4);
  box-shadow: 4px 8px 24px hsla(0, 0%, 0%, 0.25);
  border-radius: 15px;
  transition: 0.35s all ease;
}

.certification-card:hover {
  cursor: pointer;
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.35);
}

.certification-card h3 {
  font-size: 16px;
  font-weight: 400;
  color: hsl(45, 100%, 72%);
  margin-bottom: 10px;
}

.certification-card p {
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 82%);
  margin-bottom: 8px;
}

/* -------------- achievements ------------- */
#achievements {
  padding: 50px 0;
  margin-bottom: 120px;
}

.achievement-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
}

.achievement-card {
  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  border: 1px solid hsla(45, 100%, 72%, 0.4);
  box-shadow: 4px 8px 24px hsla(0, 0%, 0%, 0.25);
  border-radius: 15px;
  transition: 0.35s all ease;
}

.achievement-card:hover {
  cursor: pointer;
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, 0.35);
}

.achievement-card ion-icon {
  font-size: 45px;
  color: hsl(45, 100%, 72%);
  margin-bottom: 15px;
}

.achievement-card h3 {
  color: hsl(45, 100%, 72%);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 15px;
}

.achievement-card p {
  line-height: 1.7;
  color: hsl(0, 0%, 82%);
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.25px;
}

/* --------- contact to me ----------- */

#contact {
  margin-bottom: 200px;
}

.map-container {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.map-container iframe {
  width: 800px;
  height: 400px;
  border: 1px solid hsl(240, 2%, 12%);
  border-radius: 15px;
  filter: invert(90%) hue-rotate(180deg) contrast(95%);
}

.form-container {
  padding: 28px;
}

.form-container h3 {
  color: hsla(0, 0%, 84%, 0.7);
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
}

.name-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group input {
  width: 100%;
  padding: 16px;
  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  color: hsl(0, 0%, 82%);
  border: 1px solid hsla(45, 100%, 72%, 0.4);
  border-radius: 15px;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  box-shadow: 4px 8px 24px hsla(0, 0%, 0%, 0.25);
  transition: 0.35s all ease;
}

.input-group textarea {
  width: 100%;
  padding-left: 16px;
  padding-top: 16px;
  height: 150px;
  color: hsl(0, 0%, 82%);
  border: 1px solid hsla(45, 100%, 72%, 0.4);
  border-radius: 15px;
  background:
    linear-gradient(
      to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%
    ),
    hsl(240, 2%, 13%);
  outline: none;
  box-shadow: 4px 8px 24px hsla(0, 0%, 0%, 0.25);
  transition: 0.35s all ease;
}

.input-group input:focus,
.input-group textarea:focus {
  border-color: hsl(45, 100%, 72%);
}

.input-group small {
  color: #9b0f06;
  font-size: 14px;
  font-weight: 400;
  margin-left: 20px;
  margin-top: 8px;
}

textarea {
  resize: none;
}

.btn-field {
  display: flex;
  justify-content: flex-end;
}

.btn {
  width: 300px;
  margin-top: 25px;
  padding: 16px 30px;
  border: none;
  border-radius: 15px;
  background: hsla(45, 100%, 72%, 0.4);
  color: hsla(0, 0%, 84%, 0.7);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-shadow: 4px 8px 24px hsla(0, 0%, 0%, 0.25);
  transition: 0.35s all ease;
}

.btn:hover {
  color: hsl(0, 0%, 98%);
  background: hsl(45, 100%, 72%);
  transform: translateY(-2px);
  box-shadow: 4px 6px 10px 10px hsl(0, 0%, 19%) 97%;
}

/* ------------- footer ------------ */

#copy-rights {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: max-content;
  margin: 0 20px 50px 20px;
  padding-top: 20px;
  border-top: 1px solid hsl(0, 0%, 22%);
}

.copy-rights-container {
  padding: 25px 40px;
}

.copy-rights-container p {
  color: hsl(0, 0%, 98%);
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.25px;
}
